@import url('../fonts/fonts.css');
@import url('../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css');
@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../../node_modules/react-add-to-calendar/dist/react-add-to-calendar.min.css');

.background {
    background-image: url('../images/background.png');
}

.titlebar {
    margin: auto;
    width: 70%;
    padding: 1rem 0rem 0.5rem 0rem;
    text-align: center;
}

.titlebar .bride-name {
    font-family: 'EdwardianScrAltITCTT';
    font-size: 5rem;
    line-height: 100%;
    width: 100%;
    color: brown;
}

.titlebar .groom-name {
    font-family: 'FuturaLTBook';
    font-size: 3.2rem;
    line-height: 100%;
    width: 100%;
    color: brown;
}

.titlebar .wedding-date {
    font-family: 'FuturaLTBook';
    font-size: 1.3em;
    font-weight: bold;
    color: turquoise;
}

.wedding-date-wrapper {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

.saveDate {
    color: brown;
    font-size: 1.7rem;
    margin-left: 1rem;
}

#nav { display: table; }
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #888888; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li.active > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -2px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.nav>li>a:focus, .nav>li>a:hover { background: transparent }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.nav > li { display: table-cell; }
.nav-tabs > li { float: none; }
.nav-tabs > li > a { text-align: center; }
.tab-pane { padding: 15px 0; }
.tab-content { padding: 1rem 0rem 1rem 0rem }

.tab-content {
    font-family: 'Roboto', sans-serif;
}

.spinning.glyphicon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.alert-enter {
  opacity: 0.01;
}

.alert-enter.alert-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.alert-leave {
  opacity: 1;
}

.alert-leave.alert-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.tabIcon {
    width: 4rem;
    height: auto;
}

.ganesha {
    margin-top: -1rem;
    margin-right: -0.4rem;
}

#nav {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .tabIcon {
        width: 3.5rem;
        height: auto;
    }
    .titlebar .bride-name {
        font-size: 4.8rem;
    }
    .titlebar .groom-name {
        font-size: 2.9rem;
    }
    .titlebar .wedding-date {
        font-size: 1.7rem;
    }
    .saveDate {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 414px) {
    .tabIcon {
        width: 3rem;
        height: auto;
    }
    .titlebar .bride-name {
        font-size: 4.6rem;
    }
    .titlebar .groom-name {
        font-size: 2.8rem;
    }
    .titlebar .wedding-date {
        font-size: 1.7rem;
    }
    .saveDate {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 375px) {
    .tabIcon {
        width: 2.9rem;
        height: auto;
    }
    .titlebar .bride-name {
        font-size: 4.5rem;
    }
    .titlebar .groom-name {
        font-size: 2.6rem;
    }
    .titlebar .wedding-date {
        font-size: 1.6rem;
    }
    .saveDate {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 360px) {
    .tabIcon {
        width: 2.7rem;
        height: auto;
    }
    .titlebar .bride-name {
        font-size: 4rem;
    }
    .titlebar .groom-name {
        font-size: 2.5rem;
    }
    .titlebar .wedding-date {
        font-size: 1.5rem;
    }
    .saveDate {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 320px) {
    .tabIcon {
        width: 2.6rem;
        height: auto;
    }
    .titlebar .bride-name {
        font-size: 3.5rem;
    }
    .titlebar .groom-name {
        font-size: 2.2rem;
    }
    .titlebar .wedding-date {
        font-size: 1.5rem;
    }
    .saveDate {
        font-size: 1.2rem;
    }
}

.rsvpButtons {
    margin-top: 2rem;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

.react-add-to-calendar__button {
    border: none;
    background-color: transparent;
}

.react-add-to-calendar__dropdown {
    z-index: 3;
    left: 2rem;
    width: max-content;
    font-size: 1.7rem;
    border-color: brown;
}

.react-add-to-calendar__dropdown > ul {
    position: relative;
    left: -2rem;
}

.react-add-to-calendar__dropdown > ul > li {
    width: 15rem;
    height: 3rem;
    border-bottom-color: #99341e;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.react-add-to-calendar__dropdown > ul :last-child {
    border-bottom: none;
}

.react-add-to-calendar__button {
    padding: 0.8rem;
}

.react-add-to-calendar__button:hover {
    text-decoration: none;
}

@keyframes blinker {  
    50% { opacity: 0; }
}
.animationActive {
    animation: blinker 3s linear infinite;
    animation-delay: 2s;
}

.sticky-inner-wrapper {
    background-color: white;
}

.carousel-indicators {
    z-index: 1 !important;
}

.country-list {
    width: 20rem !important;
}

.react-tel-input > input.form-control {
    height: 34px !important;
    border-radius: 4px !important;
}

.react-tel-input .selected-flag {
    z-index: 4 !important;
}

.map-holder {
    background:url(../images/loader.gif) center center no-repeat;
}

.fb--spinner {
    height: 4rem;
    width: auto;
    margin-left: 44%;
}

.footer {
    color: slategray;
    text-align: center;
    font-family: monospace;
    font-size: xx-small;
}

.github {
    margin-top: -1px;
}

.cityIcon {
    width: 2rem;
    height: auto;
    margin-top: -0.5rem;
}