@import url('../fonts/fonts.css');
@import url('../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css');
@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../../node_modules/react-add-to-calendar/dist/react-add-to-calendar.min.css');

.background {
    background-image: url('../images/background.png');
}

.titlebar {
    margin: auto;
    width: 70%;
    padding: 10px 0 10px 0;
    text-align: center;
}

.titlebar .bride-name {
    font-family: 'EdwardianScrAltITCTT';
    font-size: 5em;
    line-height: 100%;
    width: 100%; 
}

.titlebar .groom-name {
    font-family: 'FuturaLTBook';
    font-size: 3em;
    line-height: 100%;
    width: 100%; 
}

.titlebar .wedding-date {
    font-family: 'FuturaLTBook';
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 15px;
}

.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
    .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
    .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

.spinning.glyphicon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.alert-enter {
  opacity: 0.01;
}

.alert-enter.alert-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.alert-leave {
  opacity: 1;
}

.alert-leave.alert-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.tabIcon {
    width: 4rem;
    height: auto;
}

@media only screen and (max-width: 414px) {
    .tabIcon {
        width: 4.4rem;
        height: auto;
    }
}

@media only screen and (max-width: 414px) {
    .tabIcon {
        width: 4.4rem;
        height: auto;
    }
}

@media only screen and (max-width: 375px) {
    .tabIcon {
        width: 3.7rem;
        height: auto;
    }
}

@media only screen and (max-width: 375px) {
    .tabIcon {
        width: 3.7rem;
        height: auto;
    }
}

@media only screen and (max-width: 360px) {
    .tabIcon {
        width: 3.4rem;
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    .tabIcon {
        width: 2.6rem;
        height: auto;
    }
    .calendarButton {
        margin-left: 0.3rem !important;
    }
}

@media only screen and (min-width: 320px) {
    .calendarButton {
        margin-left: 1rem;
        top: 1px;
        position: relative;
    }
}

.rsvpButtons {
    margin-top: 2rem;
}

.react-add-to-calendar__dropdown {
    width: max-content;
    padding: 5px 0px 5px 0px;
}

.react-add-to-calendar__dropdown > ul {
    width: 16rem;
    position: relative;
    left: -2rem;
}

.react-add-to-calendar__button {
    padding: 0.8rem;
}

.react-add-to-calendar__button:hover {
    text-decoration: none;
}